#search-bar{
    position: relative;
   
}
.fiter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inner-filter{
    display: flex;
    flex-direction: column;
    width:90%;

}
.inner-filter input{
    width:90%;
}
#search-data ul{
    background-color: white !important;
    margin-left: 40px;
    margin-right: 40px;
    
}
.filter_head h3{
    text-align: center;
}
.firstFilter , .position_filter, .gender_filter , .working_hours{
    margin:10px;
}
.query-tab li{
    list-style: none;
    text-transform: uppercase;
    background-color: white;
    height: 40px !important;
    line-height: 30px !important;
}
#position-data ul{
    background-color: white !important;
    margin-left: 40px;
    margin-right: 40px;
    
}
.filter-box{
 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
}
.hours{
    padding: 10px !important;
  
}
.gender_filter{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}
#position-data{
    display: block;
    align-items: center;
}
#position-data li{
    align-items: center;
    align-content: center;
}

.apply-btn
{
    width: 100%;
    background-color:#8da5f3;
    color: white;
}