 
 /* * {
        color: #2e2e2e;
    } */

    .heading {
        margin-top: 10%;
    }

    fieldset
    {
        border: 1px solid #C0C0C0;
        border-radius:8px;
        padding:4%;
    }

    fieldset:hover
    {
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        transition:all 0.5s;
    }
    .form-control
    {
        font-size: 1.2rem;
    }

    label {
        font-size: 20px;
        font-weight: 600;
    }
    
    small {
        font-weight: 400;
        font-size: medium;
    }

    .btn-link {
        text-align: left;
        font-size: 24px;
        font-weight:600;
    }

    .btn-link:hover {
        text-decoration: none;
        transform: scale(1.05);
    }
    .btn 
    {
        font-weight: 600;
    }

    .modal-title {
        margin-left: 31%;
    }

    .additional
    {
        border:1px solid #DDD;
        border-radius: 8px;
        padding: 3%;
        display:none;
    }
    @media only screen and (max-width:768px) {
        .heading {
            margin-top: 25%;
        }

        .modal-title {
            margin-left: 0%;
        }
    }

    